apiVersion: v1
kind: Service
metadata:
  name: department
  labels:
    app: department
spec:
  selector:
    app: department
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP

